<select name="component-select" data-ng-model="componentselect">
  <option value="">none</option>
  <option value="Na2O">Na₂O Sodium Oxide</option>
  <option value="K2O">K₂O Potassium Oxide</option>
  <option value="CaO">CaO Calcium Oxide</option>
  <option value="MgO">MgO Magnesium Oxide</option>
  <option value="BaO">BaO Barium Oxide</option>
  <option value="Li2O">Li₂O Lithium Oxide</option>
  <option value="SrO">SrO Strontium Oxide</option>
  <option value="SbO">SbO Antimony Oxide</option>
  <option value="B2O3">B₂O₃ Boric Oxide</option>
  <option value="ZnO">ZnO Zinc Oxide</option>
  <option value="Al2O3">Al₂O₃ Aluminum Oxide</option>
  <option value="TiO2">TiO₂ Titanium Oxide</option>
  <option value="SiO2">SiO₂ Silicon Dioxide</option>
  <option value="Fe2O3">Fe₂O₃</option>
  <option value="FeO2">FeO₂</option>
  <option value="SnO2">SnO₂ Tin Oxide</option>
  <option value="CrO2">CrO₂ Chromium Oxide</option>
  <option value="ZrO2">ZrO₂ Zirconium Oxide</option>
  <option value="F">F Fluorene</option>
  <option value="S">S Sulfur</option>
  <option value="P">P Phosphorus</option>
  <option value="H2O">H₂O Water</option>
  <option value="PbO">PbO Lead Oxide</option>
</select>
