<select name="element-select" data-ng-model="elementselect">
  <option value="">none</option>
  <option value="Al">Al Aluminum</option>
  <option value="Ba">Ba Barium</option>
  <option value="B">B Boron</option>
  <option value="C">C Carbon</option>
  <option value="Ca">Ca Calcium</option>
  <option value="Co">Co Cobalt</option>
  <option value="Cr">Cr Chromium</option>
  <option value="F">F Flourene</option>
  <option value="Fe">Fe Iron</option>
  <option value="H">H Hydrogen</option>
  <option value="K">K Potassium</option>
  <option value="Li">Li Lithium</option>
  <option value="Mg">Mg Magnesium</option>
  <option value="Mn">Mn Manganese</option>
  <option value="Na">Na Sodium</option>
  <option value="O">O Oxygen</option>
  <option value="P">P Phosphorus</option>
  <option value="Pb">Pb Lead</option>
  <option value="S">S Sulfur</option>
  <option value="Sb">Sb Antimony</option>
  <option value="Si">Si Silicon</option>
  <option value="Sn">Sn Tin</option>
  <option value="Sr">Sr Strontium</option>
  <option value="Ti">Ti Titanium</option>
  <option value="Zn">Zn Zinc</option>
  <option value="Zr">Zr Zirconium</option>
</select>
