<select name="firedox-select" data-ng-model="firedoxselect">
  <option value="">none</option>
  <option value="Li2O">Li₂O : Lithium oxide</option>
  <option value="Na2O">Na₂O : Sodium oxide</option>
  <option value="K2O">K₂O : Potassium oxide</option>
  <option value="MgO">MgO : Magnesium oxide</option>
  <option value="CaO">CaO : Calcium oxide</option>
  <option value="SrO">SrO : Strontium oxide</option>
  <option value="BaO">BaO : Barium oxide</option>
  <option value="ZnO">ZnO : Zinc oxide</option>
  <option value="Al2O3">Al₂O₃ : Aluminum oxide</option>
  <option value="B2O3">B₂O₃ : Boric oxide</option>
  <option value="SiO2">SiO₂ : Silicon dioxide</option>
  <option value="Fe2O3">Fe₂O₃ : Iron oxide</option>
  <option value="TiO2">TiO₂ : Titanium dioxide</option>
  <option value="P2O5">P₂O₅ : Phosphorus pentoxide</option>
  <option value="PbO">PbO : Lead oxide</option>
</select>
