<select name="firedox-select" data-ng-model="firedoxselect">
  <option value="">none</option>
  <option value="Na2O">Na₂O : Sodium Oxide (Natrium Oxide)</option>
  <option value="K2O">K₂O : Potassium Oxide (Kalium Oxide)</option>
  <option value="KNaO">KNaO : Potassium or Sodium Oxide</option>
  <option value="CaO">CaO : Calcium Oxide</option>
  <option value="MgO">MgO : Magnesium Oxide</option>
  <option value="BaO">BaO : Barium Oxide</option>
  <option value="Li2O">Li₂O : Lithium Oxide</option>
  <option value="SrO">SrO : Strontium Oxide</option>
  <option value="ZnO">ZnO : Zinc Oxide</option>
  <option value="Al2O3">Al₂O₃ : Aluminum Oxide</option>
  <option value="B2O3">B₂O₃ : Boric Oxide</option>
  <option value="SiO2">SiO₂ : Silicon Dioxide</option>
  <option value="PbO">PbO : Lead Oxide</option>
</select>
