<select name="field-select" data-ng-model="fieldselect">
  <option value="Time">Time</option>
  <option value="Gas">Gas</option>
  <option value="Fuel">Fuel</option>
  <option value="Primary Air">Primary Air</option>
  <option value="Blower">Blower</option>
  <option value="Damper">Damper</option>
  <option value="Passive Damper">Passive Damper</option>
  <option value="Tank">Tank</option>
  <option value="Meter">Meter</option>
  <option value="Burner">Burner</option>
  <option value="Cone">Cone</option>
  <option value="Temperature F">Temperature F</option>
  <option value="Temperature C">Temperature C</option>
  <option value="Temperature K">Temperature K</option>
  <option value="Ox Probe">Ox Probe</option>
  <option value="Atmosphere">Atmosphere</option>
  <option value="Weather">Weather</option>
  <option value="Ramp">Ramp</option>
  <option value="Hold">Hold</option>
  <option value="Comments">Comments</option>
  <option value="Draw Tile">Draw Tile</option>
  <option value="Delta">Delta</option>
  <option value="Rate">Rate</option>
  <option value="Salt">Salt</option>
  <option value="Soda">Soda</option>
  <option value="Sawdust">Sawdust</option>
  <option value="Pilots">Pilots</option>
  <option value="Pressure">Pressure</option>
  <option value="Secondary Air">Secondary Air</option>
  <option value="Hours">Hours</option>
  <option value="Cones Top">Cones Top</option>
  <option value="Cones Bottom">Cones Bottom</option>
  <option value="Spy">Spy</option>
  <option value="Temp Diff">Temp Diff</option>
  <option value="Segment">Segment</option>
  <option value="Kg">Kg</option>
  <option value="Pounds">Pounds</option>
  <option value="Timer">Timer</option>
  <option value="Exhaust">Exhaust</option>
  <option value="Misc">Misc</option>
  <option value="Probe 1">Probe 1</option>
  <option value="Probe 2">Probe 2</option>
  <option value="Probe 3">Probe 3</option>
  <option value="Probe 4">Probe 4</option>
  <option value="Ring 1">Ring 1</option>
  <option value="Ring 2">Ring 2</option>
  <option value="Ring 3">Ring 3</option>
  <option value="Ring 4">Ring 4</option>
  <option value="Ring 5">Ring 5</option>
  <option value="Ring 6">Ring 6</option>
  <option value="Burner 1">Burner 1</option>
  <option value="Burner 2">Burner 2</option>
  <option value="Burner 3">Burner 3</option>
  <option value="Burner 4">Burner 4</option>
  <option value="Burner 5">Burner 5</option>
  <option value="Burner 6">Burner 6</option>
  <option value="Burner 7">Burner 7</option>
  <option value="Burner 8">Burner 8</option>
  <option value="Burner 9">Burner 9</option>
  <option value="Burner 10">Burner 10</option>
</select>
