/**********LAYOUT***********/

header {
  margin-top: 5%;
  height: 300px;
}

main {
  margin-top: 3%;
}

nav {
  border: none;
  margin: 2px;
  padding: 2px;
  max-width: max-content;
}

h1.title {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  background-color: #D6BF9F;
  border: none;
  margin-top: 10px;
  width: 100%;
}

.boxlabel {
  vertical-align: top;
}
