<nav>
  <h3>You are on the <b>Additive</b> page.</h3>
  Links to pages:
  <a href="#/advice" class="btn btn-default" role="button">advice</a>
  <a href="#/firing" class="btn btn-default" role="button">firing</a>
  <a href="#/home" class="btn btn-default" role="button">home</a>
  <a href="#/material" class="btn btn-default" role="button">material</a>
  <a href="#/notes" class="btn btn-default" role="button">notes</a>
  <a href="#/recipe" class="btn btn-default" role="button">recipe</a>
  <a href="#/trash" class="btn btn-default" role="button">trash</a>
</nav>

<ol class="errors-section" data-ng-if="errors.length">
  <li data-ng-repeat="error in errors">{{error}}
    <button type="button" name="clear-error" data-ng-click="dismissError(error)" class="btn btn-default">
      Dismiss
    </button>
  </li>
</ol>

<ol class="server-msg" data-ng-if="serverMessages.length">
  <li data-ng-repeat="msg in serverMessages">{{msg}}
    <button type="button" name="clear-message" data-ng-click="dismissMessage(msg)" class="btn btn-default">
      Dismiss
    </button>
  </li>
</ol>

<section class="inputbox" data-ng-init="getAll()">
  <h3>Input information on the new additive</h3>
  <p>
    Symbols to copy into your additive formula:
    ₁ ₂ ₃ ₄ ₅ ₆ ₇ ₈ ₉ ₀ •
  </p>
  <form class="form-inline">
    <div class="form-group">
      <label for="additive-name">Name of Additive: </label>
      <input id="additive-name" type="text" name="AdditiveName" data-ng-model="addForm.name">
    </div>
    <div class="form-group">
      <label for="formula">Formula: </label>
      <input id="formula" type="text" name="Formula" data-ng-model="addForm.rawformula">
    </div>
    <div class="form-group">
      <label for="related-to">Related To: </label>
      <input id="related-to" type="text" name="RelatedTo" data-ng-model="addForm.relatedTo">
    </div>

    <div class="row">
      <div class="col-md-12 form-group">
        <label for="notes">Notes: </label>
        <textarea id="notes" name="notes" cols="70" rows="3" data-ng-model="addForm.notes"></textarea>

      </div>
    </div>
    <h4>Enter the formula:</h4>
    <div class="row">
      <div class="col-md-6 form-group">
        <label for="componentselection">Component Selection: </label><br>
        <component-select id="componentselection" data-ng-model="component"></component-select>
        <button data-ng-click="addComponent(componentselect)" class="btn btn-default">
          Add the component
        </button>
      </div>
      <div class="col-md-6 form-group">
        <label for="elementselection">Element Selection: </label><br>
        <element-select id="elementselection" data-ng-model="element"></element-select>
        <button data-ng-click="addElement(elementselect)" class="btn btn-default">
          Add the element
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li data-ng-repeat="item in formula track by $index">
            {{item.name}}
            <p>Amount: <input type="text" name="amount" data-ng-model="item.amount">
            </p>
            <button type="button" data-ng-click="removeFromFormula(item)" class="btn btn-default">
              Remove from formula list
            </button>
          </li>
        </ul>

      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <button data-ng-click="submit(addForm)" class="btn btn-primary">
          Save
        </button>
      </div>
    </div>
  </form>
</section>
<br>

<section data-ng-if="myServerAdds.length" class="tech-info">
  <h4>My server materials: </h4>
  <p>
    <button type="button" name="serverAddEdit" data-ng-click="editMyListToggle()" class="btn btn-default">
      Remove toggle
    </button>
    </ul>
    <table class="table table-bordered">
      <tr>
        <th>Name</th> <th>Notes</th> <th>Fields</th>
      </tr>
      <tr data-ng-repeat="add in myServerAdds">
        <td>
          {{add.name}}
          <div data-ng-if="editToggle">
            <button type="button" name="removeMat" data-ng-click="removeMyMat(add)" class="btn btn-warning">
              Remove from server
            </button>
          </div>
        </td>
        <td>{{add.notes[0]}}</td>
        <td><span data-ng-repeat="element in add.fields">
          {{element.name}} : {{element.amount}}<span data-ng-if="$index < add.fields.length - 1">; </span>
        </span></td>
      </tr>
    </table>
  </p>
</section>
<br>

<section data-ng-init="getStandard()">
  <div data-ng-if="standardAdds.length">
    <h4>The standard server additives: </h4>
    <br>
    <table class="table table-bordered" data-ng-if="standardAdds.length">
      <tr>
        <th>Name</th> <th>notes</th> <th>fields</th>
      </tr>
      <tr data-ng-repeat="stdAdd in standardAdds">
        <td>{{stdAdd.name}}</td>
        <td>{{stdAdd.notes[0]}}</td>
        <td><span data-ng-repeat="element in stdAdd.fields">
          {{element.name}} : {{element.amount}}<span data-ng-if="$index < stdAdd.fields.length - 1">; </span>
        </span></td>
      </tr>
    </table>
  </div>
</section>
