<nav>
  <h3>You are on the <b>Advice</b> page.</h3>
  Links to pages:
  <a href="#/additive" class="btn btn-default" role="button">additive</a>
  <a href="#/firing" class="btn btn-default" role="button">firing</a>
  <a href="#/home" class="btn btn-default" role="button">home</a>
  <a href="#/material" class="btn btn-default" role="button">material</a>
  <a href="#/notes" class="btn btn-default" role="button">notes</a>
  <a href="#/recipe" class="btn btn-default" role="button">recipe</a>
  <a href="#/trash" class="btn btn-default" role="button">trash</a>
</nav>

<p class="help-text">The advice section of the Glaze Calc app is coming soon.</p>
