<nav>
  <h3>You are on the <b>Firing</b> page.</h3>
  Links to pages:
  <a href="#/additive" class="btn btn-default" role="button">additive</a>
  <a href="#/advice" class="btn btn-default" role="button">advice</a>
  <a href="#/home" class="btn btn-default" role="button">home</a>
  <a href="#/material" class="btn btn-default" role="button">material</a>
  <a href="#/notes" class="btn btn-default" role="button">notes</a>
  <a href="#/recipe" class="btn btn-default" role="button">recipe</a>
  <!-- <a href="#/trash" class="btn btn-default" role="button">trash</a> -->
</nav>

<ol class="errors-section" data-ng-if="errors.length">
  <li data-ng-repeat="error in errors">{{error}}
    <button type="button" name="clear-errors" data-ng-click="dismissError(error)" class="btn btn-default">
      Dismiss
    </button>
  </li>
</ol>

<ol class="server-msg" data-ng-if="serverMessages.length">
  <li data-ng-repeat="msg in serverMessages">{{msg}}
    <button type="button" name="clear-message" data-ng-click="dismissMessage(msg)" class="btn btn-default">
      Dismiss
    </button>
  </li>
</ol>

<section class="inputbox" data-ng-init="getAll()">
  <form class="form">
    <div class="form-group">
      <label for="firing-title">Title of Firing: </label>
      <input id="firing-title" type="text" name="firing-title" data-ng-model="firingForm.title">
    </div>
    <div class="form-group">
      <label for="firing-kiln">Kiln used for firing: </label>
      <input id="firing-kiln" type="text" name="firing-kiln" data-ng-model="firingForm.kiln">
    </div>
    <div class="form-group">
      <label for="firing-date">Date of firing: </label>
      <input id="firing-date" type="date" name="firing-date" data-ng-model="firingForm.date">
    </div>
    <div class="row">
      <div class="col-md-10">
        <div class="form-group">
          <label for="firing-notes" class="boxlabel">Notes on the firing: </label>
          <textarea id="firing-notes" name="firing-notes"rows="3" class="form-control" data-ng-model="firingForm.notes">
          </textarea>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <label for="fieldselect">Select and add fields to the firing record : </label>
          <div>
            <field-select id="fieldselect"></fields-select>
          </div>
          <button id="addFieldButton" class="btn btn-default" type="button"
            name="addFieldButton" data-ng-click="addField(fieldselect)">
            Add the field
          </button>
        </div>
      </div>
    </div>

  </form>
  <p>
    The fields you have included :
    <ol>
      <li data-ng-repeat="field in firingForm.fieldsIncluded">
        Field name : {{field}}
        <button type="button" data-ng-click="moveFieldLeft(field)" class="btn btn-default">
          Move field left
        </button>
        <button type="button" data-ng-click="moveFieldRight(field)" class="btn btn-default">
          Move field right
        </button>
        <button type="button" data-ng-click="removeFromFields(field)" class="btn btn-default">
          Remove the field
        </button>
      </li>
    </ol>
    Please note that adding fields after adding rows will cause missing boxes in the table. (Known issue)
  </p>

  <p>
    <label for="addRow"></label>
    <button id="addRow" type="button" name="addRow" data-ng-click="addRow()" class="btn btn-default">
      Add a row to the firing table
     </button>
  </p>
</section>
<br>

<section class="tech-info">
  <form>
    <h3>Record the Firing</h3>
    <table class="table table-bordered">
      <tr>
        <th data-ng-repeat="heading in firingForm.fieldsIncluded">
          {{heading}}
        </th>
      </tr>
      <tr data-ng-repeat="row in rows track by $index">
        <td data-ng-repeat="cell in row track by $index">
          <input type="text" data-ng-model="row[$index]">
        </td>
      </tr>
    </table>

    <label for="save" class="sr-only">Save</label>
    <button id="save" type="button" name="save" data-ng-click="submit(firingForm)" class="btn btn-primary">
      Save
    </button>
  </form>
</section>
<br>

<section data-ng-if="myServerFirings.length" class="tech-info">
  <h3>My stored firings: </h3>
  <p>
    <button type="button" name="serverFiringEdit" data-ng-click="editMyListToggle()" class="btn btn-default">
      Remove toggle button
    </button>
    <ul>
      <li data-ng-repeat="fr in myServerFirings">
        Title: {{fr.title}},
        Using kiln: {{fr.kiln}},
        Date: {{fr.date | date:'EEEE, MMMM yyyy'}}
        <br>
        <table class="table table-bordered">
          <tr>
            <th data-ng-repeat="heading in fr.fieldsIncluded">{{heading}}</th>
          </tr>
          <tr data-ng-repeat="row in fr.rows track by $index">
            <td data-ng-repeat="cell in row track by $index">{{cell}}</td>
          </tr>
        </table>
        <p data-ng-if="editToggle">
          <button type="button" name="removeFiringButton" data-ng-click="removeMyFiring(fr)" class="btn btn-warning">
            Remove
          </button>
        </p>
      </li>
    </ul>
  </p>
</section>
