<nav>
  You are on the Home page.
  <br>
  links to pages:
  <a href="#/additive">additive</a>
  <a href="#/advice">advice</a>
  <a href="#/firing">firing</a>
  <a href="#/material">material</a>
  <a href="#/notes">notes</a>
  <a href="#/recipe">recipe</a>
  <a href="#/trash">trash</a>
</nav>
<p>
  Hello, and welcome to the Glaze Calc App!
</p>
<p>
  This is a handy web app for potters and ceramicists to use in formulating glazes.
  A glaze formula can help you to understand a glaze, and how it relates to other glazes.
  It is especially helpful in researching new glazes, and trying to find a replacement for
  materials no longer available. Getting a numerical comparison of your glaze can also help
  find ways to fix flaws and update classic recipes.
</p>
<p>
  The Glaze Calc App can store your glaze recipes, notes, and firing data. There is
  a page to enter your own custom materials, and one for additives / colorants. The materials
  page is for the parts of the glaze that make up the body of the glaze, and there are built in
  numbers for the oxides. The additives page is for the smaller parts of the glaze that
  are not figured in the unity formula.
</p>
<p>
  A small section of helpful advice on glazes and firing is included on the advice page.
  As this is a project in progress, please leave feedback and bug reports on the github
  page, linked below. This is software is free to use, and the code is available for download
  and local use.

  Enjoy!
</p>
