<nav>
  <h3>You are on the <b>Notes</b> page.</h3>
  Links to pages:
  <a href="#/additive" class="btn btn-default" role="button">additive</a>
  <a href="#/advice" class="btn btn-default" role="button">advice</a>
  <a href="#/firing" class="btn btn-default" role="button">firing</a>
  <a href="#/home" class="btn btn-default" role="button">home</a>
  <a href="#/material" class="btn btn-default" role="button">material</a>
  <a href="#/recipe" class="btn btn-default" role="button">recipe</a>
  <a href="#/trash" class="btn btn-default" role="button">trash</a>
</nav>

<p class="help-text">
  This is the future home of the notes functionality of the Glaze Calc App.
  It will have an interface to write and look up your notes.
</p>
