Recipe view.

<nav>
  You are on the Recipe page.
  <br>
  links to pages:
  <a href="#/additive">additive</a>
  <a href="#/advice">advice</a>
  <a href="#/firing">firing</a>
  <a href="#/home">home</a>
  <a href="#/material">material</a>
  <a href="#/notes">notes</a>
  <a href="#/trash">trash</a>
</nav>

<ol class="errors-section" data-ng-if="errors.length">
  <li data-ng-repeat="error in errors">{{error}}
    <button type="button" name="clear" data-ng-click="dismissError(error)">Dismiss</button>
  </li>
</ol>

<ol class="server-msg" data-ng-if="serverMessages.length">
  <li data-ng-repeat="msg in serverMessages">{{msg}}
    <button type="button" name="clear" data-ng-click="dismissMessage(msg)">Dismiss</button>
  </li>
</ol>

<section class="inputbox" data-ng-init="getMats()">
  Create a new glaze recipe :
  <br>
  <label for="recipe-name">Recipe title : </label>
  <input type="text" name="recipe-title" value="" data-ng-model="recipeForm.title">
  <label for="recipe-date">Date (optional / default is today)</label>
  <input type="date" name="recipe-date" value="" data-ng-model="recipeForm.date">
  <label for="recipe-notes">Notes on the recipe</label>
  <textarea name="recipe-notes" data-ng-model="recipeForm.notes"></textarea>
  <br>

  <p>
    Add materials to the recipe :
    <br>
    My materials :
    <select name="my-mats" data-ng-model="mynewmat">
      <option data-ng-repeat="mymat in customs" value="{{mymat}}">{{mymat.name}}</option>
    </select>
    <br>
    Standard materials :
    <select name="std-mats" data-ng-model="stdnewmat">
      <option data-ng-repeat="stdmat in standards" value="{{stdmat}}">{{stdmat.name}}</option>
    </select>
    <br>
    Add the above material to the recipe : <button data-ng-click="addMaterialField(mynewmat, stdnewmat)"> + </button>
  </p>

  <p data-ng-init="getAdds()">
    Add colorants and additives to the recipe :
    <br>
    My additives :
    <select name="my-adds" data-ng-model="mynewadd">
      <option data-ng-repeat="myadd in additives" value="{{myadd}}">{{myadd.name}}</option>
    </select>
    <br>
    Standard additives :
    <select name="std-adds" data-ng-model="stdnewadd">
      <option data-ng-repeat="stdadd in standardadds" value="{{stdadd}}">{{stdadd.name}}</option>
    </select>
    <br>
    Add the above additive / colorant to the recipe : <button data-ng-click="addAdditiveField(mynewadd, stdnewadd)"> + </button>
  </p>
  <p data-ng-if="recipeMats.length">
    Enter the amounts of the materials as a percentage or as parts :
    <br>
    <ol>
      <li data-ng-repeat="material in recipeMats">
        {{material.name}}
        <br>
        Amount : <input type="text" name="amount" data-ng-model="material.amount">
        <br>
        <button type="button" data-ng-click="removeFromRecipe(material)">Remove from recipe</button>
      </li>
    </ol>
  </p>
  <br>
  <button name="compute" data-ng-click="computeUnity(recipeMats)"> Compute recipe into Unity </button>

  <button name="submit-button" data-ng-click="submit(recipeForm)"> Save the recipe </button>

</section>

<section class="tech-info">
  Unity formula of the glaze recipe
  <br>
  <p data-ng-if="recipeForm.computed.uList.Li2O > 0">
    Li₂O : {{recipeForm.computed.uList.Li2O | number:3}}</p>
  <p data-ng-if="recipeForm.computed.uList.Na2O > 0">
    Na₂O :{{recipeForm.computed.uList.Na2O | number:3}}</p>
  <p data-ng-if="recipeForm.computed.uList.CaO > 0">
    CaO : {{recipeForm.computed.uList.CaO | number:3}}</p>
  <p data-ng-if="recipeForm.computed.uList.K2O > 0">
    K₂O : {{recipeForm.computed.uList.K2O | number:3}}</p>
  <p data-ng-if="recipeForm.computed.uList.MgO > 0">
    MgO : {{recipeForm.computed.uList.MgO | number:3}}</p>
  <p data-ng-if="recipeForm.computed.uList.BaO > 0">
    BaO : {{recipeForm.computed.uList.BaO | number:3}}</p>
  <p data-ng-if="recipeForm.computed.uList.Li2O > 0">
    Li₂O : {{recipeForm.computed.uList.Li2O | number:3}}</p>
  <p data-ng-if="recipeForm.computed.uList.SrO > 0">
    SrO : {{recipeForm.computed.uList.SrO | number:3}}</p>
  <p data-ng-if="recipeForm.computed.uList.ZnO > 0">
    ZnO : {{recipeForm.computed.uList.ZnO | number:3}}</p>
  <p data-ng-if="recipeForm.computed.uList.PbO > 0">
    PbO : {{recipeForm.computed.uList.PbO | number:3}}</p>
  <p data-ng-if="recipeForm.computed.uList.B2O3 > 0">
    B₂O₃ : {{recipeForm.computed.uList.B2O3 | number:3}}</p>
  <p data-ng-if="recipeForm.computed.uList.Al2O3 > 0">
    Al₂O₃ : {{recipeForm.computed.uList.Al2O3 | number:3}}</p>
  <p data-ng-if="recipeForm.computed.uList.Fe2O3 > 0">
    Fe₂O₃ : {{recipeForm.computed.uList.Fe2O3 | number:3}}</p>
  <p data-ng-if="recipeForm.computed.uList.SiO2 > 0">
    SiO₂ : {{recipeForm.computed.uList.SiO2 | number:3}}</p>
  <p data-ng-if="recipeForm.computed.uList.TiO2 > 0">
    TiO₂ : {{recipeForm.computed.uList.TiO2 | number:3}}</p>
  <p data-ng-if="recipeForm.computed.uList.P2O5 > 0">
    P₂O₅ : {{recipeForm.computed.uList.P2O5 | number:3}}</p>

  <p>
    Glaze additives and colorants :
    <ol>
      <li data-ng-repeat="add in addList">
        {{add.name}}
        <br>
        Amount : <input type="text" name="amount" data-ng-model="add.amount">
        <br>
        <button type="button" data-ng-click="removeFromAdds(add)">Remove from recipe</button>
      </li>
    </ol>
  </p>
</section>

<section data-ng-init="getMyRecipes()" class="tech-info">
  My saved recipes :
  <br>
  Edit / Remove toggle
  <button type="button" name="serverRecEdit" data-ng-click="editMyListToggle()"> toggle </button>
  <ul data-ng-if="myRecipes.length">
    <li data-ng-repeat="rec in myRecipes">
      {{rec.title}}
      <p data-ng-if="rec.computed[0].uList.Li2O > 0">
        Li₂O : {{rec.computed[0].uList.Li2O | number:3}}</p>
      <p data-ng-if="rec.computed[0].uList.Na2O > 0">
        Na₂O :{{rec.computed[0].uList.Na2O | number:3}}</p>
      <p data-ng-if="rec.computed[0].uList.CaO > 0">
        CaO : {{rec.computed[0].uList.CaO | number:3}}</p>
      <p data-ng-if="rec.computed[0].uList.K2O > 0">
        K₂O : {{rec.computed[0].uList.K2O | number:3}}</p>
      <p data-ng-if="rec.computed[0].uList.MgO > 0">
        MgO : {{rec.computed[0].uList.MgO | number:3}}</p>
      <p data-ng-if="rec.computed[0].uList.BaO > 0">
        BaO : {{rec.computed[0].uList.BaO | number:3}}</p>
      <p data-ng-if="rec.computed[0].uList.Li2O > 0">
        Li₂O : {{rec.computed[0].uList.Li2O | number:3}}</p>
      <p data-ng-if="rec.computed[0].uList.SrO > 0">
        SrO : {{rec.computed[0].uList.SrO | number:3}}</p>
      <p data-ng-if="rec.computed[0].uList.ZnO > 0">
        ZnO : {{rec.computed[0].uList.ZnO | number:3}}</p>
      <p data-ng-if="rec.computed[0].uList.PbO > 0">
        PbO : {{rec.computed[0].uList.PbO | number:3}}</p>
      <p data-ng-if="rec.computed[0].uList.B2O3 > 0">
        B₂O₃ : {{rec.computed[0].uList.B2O3 | number:3}}</p>
      <p data-ng-if="rec.computed[0].uList.Al2O3 > 0">
        Al₂O₃ : {{rec.computed[0].uList.Al2O3 | number:3}}</p>
      <p data-ng-if="rec.computed[0].uList.Fe2O3 > 0">
        Fe₂O₃ : {{rec.computed[0].uList.Fe2O3 | number:3}}</p>
      <p data-ng-if="rec.computed[0].uList.SiO2 > 0">
        SiO₂ : {{rec.computed[0].uList.SiO2 | number:3}}</p>
      <p data-ng-if="rec.computed[0].uList.TiO2 > 0">
        TiO₂ : {{rec.computed[0].uList.TiO2 | number:3}}</p>
      <p data-ng-if="rec.computed[0].uList.P2O5 > 0">
        P₂O₅ : {{rec.computed[0].uList.P2O5 | number:3}}</p>

      <p>
        Additives :
        <ol>
          <li data-ng-repeat="singleAdd in rec.additives">
            {{singleAdd.name}} : {{singleAdd.amount}}
          </li>
        </ol>
      </p>

      <p data-ng-if="editToggle">Remove from the server:
        <button type="button" name="removeMat" data-ng-click="removeMyRec(rec)"> X </button></p>
    </li>
  </ul>
</section>
