<header data-ng-if="!email" class="header-text">
  Oops! It seems you are not signed in. This will keep you from using the app. Go to
  <a href="#/signin">signin</a> or make a new account here: <a href="#/signup">signup</a>.
</header>
<nav>
  <h3>You are on the <b>Recipe</b> page.</h3>
  Links to pages:
  <a href="#/additive" class="btn btn-default" role="button">additive</a>
  <a href="#/advice" class="btn btn-default" role="button">advice</a>
  <a href="#/firing" class="btn btn-default" role="button">firing</a>
  <a href="#/home" class="btn btn-default" role="button">home</a>
  <a href="#/material" class="btn btn-default" role="button">material</a>
  <a href="#/notes" class="btn btn-default" role="button">notes</a>
  <!-- <a href="#/trash" class="btn btn-default" role="button">trash</a> -->
</nav>

<ol class="errors-section" data-ng-if="errors.length">
  <li data-ng-repeat="error in errors track by $index">{{error}}
    <button type="button" name="clear" data-ng-click="dismissError(error)" class="btn btn-default">
      Dismiss
    </button>
  </li>
</ol>

<ol class="server-msg" data-ng-if="serverMessages.length">
  <li data-ng-repeat="msg in serverMessages track by $index">{{msg}}
    <button type="button" name="clear" data-ng-click="dismissMessage(msg)" class="btn btn-default">
      Dismiss
    </button>
  </li>
</ol>

<section class="inputbox">
  <h3>Create a new glaze recipe: </h3>
  <form class="form">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label for="recipe-name">Recipe title: </label>
          <input id="recipe-name" type="text" name="recipe-title" data-ng-model="recipeForm.title">
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="recipe-date">Date: </label>
          <input id="recipe-date" type="date" name="recipe-date" placeholder="yyyy-MM-dd"
           data-ng-model="recipeForm.date">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-10">
        <div class="form-group">
          <label for="recipe-notes" class="boxlabel">Notes on the recipe: </label>
          <textarea id="recipe-notes" name="recipe-notes" rows="3" class="form-control" data-ng-model="recipeForm.notes"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h4>Add materials to the recipe: </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6" data-ng-init="getMats()">
        My materials:
        <select name="my-mats" data-ng-model="mynewmat">
          <option value="">none</option>
          <option data-ng-repeat="mymat in customs" value="{{mymat}}">{{mymat.name}}</option>
        </select>
        <button data-ng-click="addMyMaterialField(mynewmat)" class="btn btn-default">
          Add my material to recipe
        </button>
      </div>
      <div class="col-sm-6">
        Standard materials:
        <select name="std-mats" data-ng-model="stdnewmat">
          <option value="">none</option>
          <option data-ng-repeat="stdmat in standards" value="{{stdmat}}">{{stdmat.name}}</option>
        </select>
        <button data-ng-click="addStdMaterialField(stdnewmat)" class="btn btn-default">
          Add standard material to recipe
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <h4>Add colorants and additives to the recipe: </h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6" data-ng-init="getAdds()">
        My additives:
        <select name="my-adds" data-ng-model="mynewadd">
          <option value="">none</option>
          <option data-ng-repeat="myadd in additives" value="{{myadd}}">{{myadd.name}}</option>
        </select>
        <button data-ng-click="addMyAdditiveField(mynewadd)" class="btn btn-default">
          Add my additive / colorant
        </button>
      </div>
      <div class="col-sm-6">
        Standard additives:
        <select name="std-adds" data-ng-model="stdnewadd">
          <option value="">none</option>
          <option data-ng-repeat="stdadd in standardadds" value="{{stdadd}}">{{stdadd.name}}</option>
        </select>
        <button data-ng-click="addStdAdditiveField(stdnewadd)" class="btn btn-default">
          Add standard additive / colorant
        </button>
      </div>
    </div>

    <p data-ng-if="recipeMats.length">
      Enter the amounts of the materials as a percentage or as parts by weight:
      <br>
      <ol>
        <li data-ng-repeat="material in recipeMats">
          <b>{{material.name}}</b>
          <br>
          Amount: <input type="text" name="amount" data-ng-model="material.amount">
          <br>
          <button type="button" data-ng-click="removeFromRecipe(material)" class="btn btn-default btn-sm">
            Remove from recipe
          </button>
        </li>
      </ol>
    </p>
    <br>

    <p data-ng-if="addList.length">
      Enter the amounts of the additives as a percentage or as parts by weight:
      <br>
      <ol>
        <li data-ng-repeat="additem in addList">
          <b>{{additem.name}}</b>
          <br>
          Amount: <input type="text" name="amount" data-ng-model="additem.amount">
          <br>
          <button type="button" data-ng-click="removeFromAdds(additem)" class="btn btn-default btn-sm">
            Remove from recipe
          </button>
        </li>
      </ol>
    </p>
    <br>

    <button name="compute" data-ng-click="computeUnity(recipeMats)" class="btn btn-default">
      Compute recipe into Unity
    </button>

    <button name="submit-button" data-ng-click="submit(recipeForm)" class="btn btn-primary">
      Save
    </button>
  </form>
</section>
<br>

<section class="tech-info" data-ng-if="recipeForm.computed.uList">
  <h4>Unity formula of the glaze recipe</h4>
  <br>
  <div class="row">
    <ul class="col-md-3">
      Fluxes - RO
      <li data-ng-if="recipeForm.computed.uList.Li2O > 0">
        Li₂O : {{recipeForm.computed.uList.Li2O | number:3}}</li>
      <li data-ng-if="recipeForm.computed.uList.Na2O > 0">
        Na₂O :{{recipeForm.computed.uList.Na2O | number:3}}</li>
      <li data-ng-if="recipeForm.computed.uList.CaO > 0">
        CaO : {{recipeForm.computed.uList.CaO | number:3}}</li>
      <li data-ng-if="recipeForm.computed.uList.K2O > 0">
        K₂O : {{recipeForm.computed.uList.K2O | number:3}}</li>
      <li data-ng-if="recipeForm.computed.uList.MgO > 0">
        MgO : {{recipeForm.computed.uList.MgO | number:3}}</li>
      <li data-ng-if="recipeForm.computed.uList.BaO > 0">
        BaO : {{recipeForm.computed.uList.BaO | number:3}}</li>
      <li data-ng-if="recipeForm.computed.uList.Li2O > 0">
        Li₂O : {{recipeForm.computed.uList.Li2O | number:3}}</li>
      <li data-ng-if="recipeForm.computed.uList.SrO > 0">
        SrO : {{recipeForm.computed.uList.SrO | number:3}}</li>
      <li data-ng-if="recipeForm.computed.uList.ZnO > 0">
        ZnO : {{recipeForm.computed.uList.ZnO | number:3}}</li>
      <li data-ng-if="recipeForm.computed.uList.PbO > 0">
        PbO : {{recipeForm.computed.uList.PbO | number:3}}</li>
    </ul>
    <ul class="col-md-3">
      Stabilizers - R2O3
      <li data-ng-if="recipeForm.computed.uList.B2O3 > 0">
        B₂O₃ : {{recipeForm.computed.uList.B2O3 | number:3}}</li>
      <li data-ng-if="recipeForm.computed.uList.Al2O3 > 0">
          Al₂O₃ : {{recipeForm.computed.uList.Al2O3 | number:3}}</li>
    </ul>
    <ul class="col-md-3">
      Glass Formers - RO2
      <li data-ng-if="recipeForm.computed.uList.SiO2 > 0">
          SiO₂ : {{recipeForm.computed.uList.SiO2 | number:3}}
      </li>
    </ul>
    <ul class="col-md-3">
      Wildcards
      <li data-ng-if="recipeForm.computed.uList.TiO2 > 0">
        TiO₂ : {{recipeForm.computed.uList.TiO2 | number:3}}</li>
      <li data-ng-if="recipeForm.computed.uList.P2O5 > 0">
        P₂O₅ : {{recipeForm.computed.uList.P2O5 | number:3}}</li>
      <li data-ng-if="recipeForm.computed.uList.Fe2O3 > 0">
        Fe₂O₃ : {{recipeForm.computed.uList.Fe2O3 | number:3}}</li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-6">
      Ratio of Silica to Alumina : {{(recipeForm.computed.uList.SiO2 / recipeForm.computed.uList.Al2O3) | number:2}}
    </div>
    <div class="col-md-6" data-ng-if="addList.length">
      Glaze additives and colorants:
      <ol>
        <li data-ng-repeat="add in addList">
          {{add.name}}
          <br>
          Amount: {{add.amount}}

        </li>
      </ol>
    </div>
  </div>
</section>
<br>

<section data-ng-init="getMyRecipes()" class="tech-info">
  <h3>My saved recipes: </h3>
  <ul data-ng-if="myRecipes.length">
    <li data-ng-repeat="rec in myRecipes">
      <b>{{rec.title}}</b>
      <button type="button" data-ng-click="rec[$index].expView = true" data-ng-if="!rec[$index].expView"
        class="btn btn-default btn-xs">
        Expand to View
      </button>
      <button type="button" data-ng-click="rec[$index].expView = false" data-ng-if="rec[$index].expView"
        class="btn btn-default btn-xs">
        Hide
      </button>
      <div data-ng-if="rec[$index].expView">
        <div class="row" >
          <div class="col-lg-4 col-md-4">
            <div data-ng-if="rec.computed[0].uList.Li2O > 0">
              Li₂O : {{rec.computed[0].uList.Li2O | number:3}}</div>
            <div data-ng-if="rec.computed[0].uList.Na2O > 0">
              Na₂O :{{rec.computed[0].uList.Na2O | number:3}}</div>
            <div data-ng-if="rec.computed[0].uList.CaO > 0">
              CaO : {{rec.computed[0].uList.CaO | number:3}}</div>
            <div data-ng-if="rec.computed[0].uList.K2O > 0">
              K₂O : {{rec.computed[0].uList.K2O | number:3}}</div>
            <div data-ng-if="rec.computed[0].uList.MgO > 0">
              MgO : {{rec.computed[0].uList.MgO | number:3}}</div>
            <div data-ng-if="rec.computed[0].uList.BaO > 0">
              BaO : {{rec.computed[0].uList.BaO | number:3}}</div>
            <div data-ng-if="rec.computed[0].uList.Li2O > 0">
              Li₂O : {{rec.computed[0].uList.Li2O | number:3}}</div>
            <div data-ng-if="rec.computed[0].uList.SrO > 0">
              SrO : {{rec.computed[0].uList.SrO | number:3}}</div>
            <div data-ng-if="rec.computed[0].uList.ZnO > 0">
              ZnO : {{rec.computed[0].uList.ZnO | number:3}}</div>
            <div data-ng-if="rec.computed[0].uList.PbO > 0">
              PbO : {{rec.computed[0].uList.PbO | number:3}}</div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div data-ng-if="rec.computed[0].uList.B2O3 > 0">
              B₂O₃ : {{rec.computed[0].uList.B2O3 | number:3}}</div>
            <div data-ng-if="rec.computed[0].uList.Al2O3 > 0">
              Al₂O₃ : {{rec.computed[0].uList.Al2O3 | number:3}}</div>
          </div>
          <div class="col-lg-4 col-md-4">
            <div data-ng-if="rec.computed[0].uList.SiO2 > 0">
              SiO₂ : {{rec.computed[0].uList.SiO2 | number:3}}</div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-2 col-xs-4" data-ng-if="rec.computed[0].uList.Fe2O3 > 0">
            Fe₂O₃ : {{rec.computed[0].uList.Fe2O3 | number:3}}</div>
          <div class="col-md-2 col-xs-4" data-ng-if="rec.computed[0].uList.TiO2 > 0">
            TiO₂ : {{rec.computed[0].uList.TiO2 | number:3}}</div>
          <div class="col-md-2 col-xs-4" data-ng-if="rec.computed[0].uList.P2O5 > 0">
            P₂O₅ : {{rec.computed[0].uList.P2O5 | number:3}}</div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            Additives:
            <ol>
              <li data-ng-repeat="singleAdd in rec.additives" class="col-lg-2 col-xs-4">
                {{singleAdd.name}} : {{singleAdd.amount}}
              </li>
            </ol>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10">
            Ratio of Silica to Alumina : {{(rec.computed[0].uList.SiO2 / rec.computed[0].uList.Al2O3) | number:2}}
            <br><span data-ng-if="rec.date">Date: {{rec.date | date:'fullDate'}}</span>
          </div>
        </div>
      </div>

      <p data-ng-if="editToggle">
        <button type="button" name="removeMat" data-ng-click="removeMyRec(rec)" class="btn btn-warning">
          Remove from the server
        </button>
      </p>
    </li>
  </ul>

  <button type="button" name="serverRecEdit" data-ng-click="editMyListToggle()" class="btn btn-default btn-sm">
    Remove toggle button
  </button>
</section>
