<section data-ng-if="errors.length" class="errors-section">
    <h2>Errors: </h2>
    <ul>
      <li data-ng-repeat="error in errors track by $index">
         {{error}}
         <button data-ng-click="dismissError(error)" alt="dismiss" class="btn btn-default">
           X</button></li>
    </ul>
</section>
<section class="auth-text">
  <h1>Glaze Calc App</h1>

  <section class="help-text">
    <p>
      The Glaze Calc App is a glaze calculator application, for helping you formulate ceramic glazes.
      It is useful for potters, ceramicists, and students. The Glaze Calc App takes a recipe of materials
      and computes the Unity formula, allowing you to compare glazes effectively. You can create new
      glazes, fix old ones, and understand how to adapt to changing materials.
    </p>
  </section>

  <form name="authForm" data-ng-submit="submit(auth)" class="form-inline">
    <div class="form-group">
      <span data-ng-if="!signup">Have an account? Sign in:</span>
      <span data-ng-if="signup">Make an account? Enter info:</span>

    </div>
    <div class="form-group">
      <label for="email">Email: </label>
      <input type="text" required name="email" data-ng-model="auth.email">

    </div>
    <div class="form-group">
      <label for="password">Password: </label>
      <input type="password" required name="password" data-ng-model="auth.password">
      <label data-ng-if="signup" for="confirmation">Confirm Password: </label>
      <input data-ng-if="signup" type="password" name="confirmation" data-ng-model="auth.confirmation">

    </div>


    <button type="submit" class="btn btn-success" data-ng-disabled="(signup && (auth.confirmation !== auth.password)) || authForm.$invalid">
      {{signup ? 'Create New User' : 'Sign In'}}
    </button>
  </form>
  <p data-ng-if="!signup">
    Ready to create an account? <a href="#/signup" class="btn btn-default" role="button">Sign Up</a>
  </p>
  <p data-ng-if="signup">
    If you have an account, sign in here : <a href="#/signin" class="btn btn-default" role="button">Sign In</a>
  </p>
  <p data-ng-if="signup">
    A note on account creation: Email needs to have the domain (@domain.com), and the password needs to be 8 characters long at minimum.
  </p>
</section>
