<nav>
  <h3>You are on the <b>Trash</b> page.</h3>
  Links to pages:
  <a href="#/additive" class="btn btn-default" role="button">additive</a>
  <a href="#/advice" class="btn btn-default" role="button">advice</a>
  <a href="#/firing" class="btn btn-default" role="button">firing</a>
  <a href="#/home" class="btn btn-default" role="button">home</a>
  <a href="#/material" class="btn btn-default" role="button">material</a>
  <a href="#/notes" class="btn btn-default" role="button">notes</a>
  <a href="#/recipe" class="btn btn-default" role="button">recipe</a>
</nav>

<p class="help-text">
  The trash functionality is coming soon in the next version of the Glaze Calc app.
  Until then, use the delete / remove with care: once it is gone the info is lost.
</p>
